{{ define "main" }}

  {{- if .Site.IsServer -}} {{ "<!-- layouts: _default/home.html-->" | safeHTML }} {{- end -}}

    
    <!-- Hero Section Begin -->
    <section class="hero set-bg" data-setbg="/img/hero-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="hero__text">
                        <h2>Find The Best Monthly Payment</h2>
                        <p>Apply for our business loan in minutes, without painful</p>
                        <a href="#" class="primary-btn">Get Start</a>
                        <a href="#" class="primary-btn howit-btn">How It Work</a>
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-2">
                    <div class="hero__form">
                        <h3>How much do you need</h3>
                        <form action="#">
                            <div class="input-list">
                                <div class="input-list-item">
                                    <p>Amount of money ($):</p>
                                    <input type="text">
                                </div>
                                <div class="input-list-item">
                                    <p>How long for (day):</p>
                                    <input type="text">
                                </div>
                            </div>
                            <div class="input-full-width">
                                <p>Repayment:</p>
                                <input type="text">
                            </div>
                            <div class="input-list last">
                                <div class="input-list-item">
                                    <p>Name:</p>
                                    <input type="text">
                                </div>
                                <div class="input-list-item">
                                    <p>Phone:</p>
                                    <input type="text">
                                </div>
                            </div>
                            <button type="submit" class="site-btn">Get Your Loan Now!</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Home About Begin -->
    <section class="home-about spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="home__about__text">
                        <div class="section-title">
                            <h2>Thousands Of Customers Trust Our Company</h2>
                            <p>The brochure must grab a viewer’s attention and hold it long enough to deliver the
                                pertinent information. How do you grab your customers’ attention with just a piece</p>
                        </div>
                        <div class="row">
													{{ range .Params.about_items }}
                            <div class="col-lg-6 col-md-6">
                                <div class="home__about__item">
                                    <h4>{{ .title }}</h4>
                                    <p>{{ .description }}</p>
                                </div>
														</div>
														{{ end }}
                        </div>
                        <a href="£" class="primary-btn">{{ .Params.about_btn }}</a>
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1">
                    <div class="home__about__img">
                        <img src="/img/about/home-about.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Home About End -->

    <!-- Loan Services Section Begin -->
    <section class="loan-services spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Discover all the loans for you</h2>
                        <p>If you try to cut corners on your brochure you will end up spending more money</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="loan__services__list">
							{{ range .Params.loan_services }}
                <div class="loan__services__item set-bg" data-setbg="{{ .image }}">
                    <div class="loan__services__item__text">
                        <h4><span>{{.number }}</span>{{ .heading }}</h4>
                        <p>{{ .description }}</p>
                        <a href="#">{{ .button }}</a>
                    </div>
								</div>
							{{ end }}	
            </div>
        </div>
    </section>
    <!-- Loan Services Section End -->

    <!-- Choose Section Begin -->
    {{ partial "about_people.html" . }}
    <!-- Choose Section End -->

    <!-- Testimonial Section Begin -->
    <div class="testimonial spad set-bg" data-setbg="/img/testimonial/testimonial-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>What Customers Are Saying</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting has been the</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="testimonial__carousel">
        <div class="container">
            <div class="row">
                <div class="testimonial__slider owl-carousel">
									{{ range .Params.testimonial }}
                    <div class="col-lg-4">
                        <div class="testimonial__item">
                            <img src="{{ .image }}" alt="">
                            <h5>{{ .title }}</h5>
                            <span>{{ .tagline }}</span>
                            <p>{{ .description }}</p>
                        </div>
										</div>
									{{ end }}	
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial Section End -->

    <!-- Counter Begin -->
    <div class="counter spad">
        <div class="container">
            <div class="row">
               {{ range .Params.counter }}
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="counter__item">
                        <img src="{{ .image }}" alt="">
                        <div class="counter__number">
                            <h2 class="counter-add">{{ .number }}</h2>
                            <span>{{ .sign }}</span>
                        </div>
                        <p>{{ .heading }}</p>
                    </div>
                </div>
               {{ end }}
            </div>
        </div>
    </div>
    <!-- Counter End -->

    <!-- Call Section Begin -->
    <section class="call spad set-bg" data-setbg="/img/call-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-6">
                    <div class="call__text">
                        <div class="section-title">
                            <h2>Request A Call Back</h2>
                            <p>Posters had been a very beneficial marketing tool because it had paved to deliver an
                                effective message that conveyed customer’s attention.</p>
                        </div>
                        <a href="#">Contact Us</a>
                    </div>
                </div>
                <div class="col-lg-6 offset-lg-1 col-md-6">
                    <form action="#" class="call__form">
                        <div class="row">
                            <div class="col-lg-6">
                                <input type="text" placeholder="Name">
                            </div>
                            <div class="col-lg-6">
                                <input type="text" placeholder="Email">
                            </div>
                            <div class="col-lg-6">
                                <input type="text" placeholder="Phone">
                            </div>
                            <div class="col-lg-6">
                                <select>
                                    <option value="">Choose Our Services</option>
                                </select>
                            </div>
                        </div>
                        <button type="submit" class="site-btn">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Call Section End -->

    <!-- Blog Section Begin -->
    <section class="latest spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Latest Post</h2>
                        <p>Certainly at that point I was not a potential client for the Strib, but promotional</p>
                    </div>
                </div>
            </div>
            <div class="row">
							{{ range .Params.blog_post }}

                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="latest__blog__item">
                        <h5><a href="#">{{ .title }}</a></h5>
                        <p>{{ .description }}</p>
                        <div class="latest__blog__author">
                            <div class="latest__blog__author__pic">
                                <img src="{{ .image }}" alt="">
                            </div>
                            <div class="latest__blog__author__text">
                                <h6>{{ .name }}</h6>
                                <span>{{ dateFormat "January 02, 2006" .blog_date | safeHTML }}</span>
                            </div>
                        </div>
                    </div>
                </div>
          
								{{ end }}
                <div class="col-lg-12 text-center">
                    <a href="#" class="primary-btn">View More</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Section End -->

  {{- if .Site.IsServer -}} {{ "<!-- layouts: _default/home.html-->" | safeHTML }} {{- end -}}

{{ end }}  