{{- if .Site.IsServer -}} {{ "<!-- layouts: _default/home.html-->" | safeHTML }} {{- end -}}

 <!-- Contact Begin -->
 <div class="contact-widget set-bg" data-setbg="/img/contact-widget.jpg">
  <div class="container">
      <div class="row">
          <div class="col-lg-6 col-md-6">
              <div class="row">
                  <div class="col-lg-6 col-md-6">
                      <div class="contact__widget__item">
                          <h4>New York Office</h4>
                          <p>917 Atlantic Lane, Strongsville, NY, United State</p>
                      </div>
                  </div>
                  <div class="col-lg-6 col-md-6">
                      <div class="contact__widget__item">
                          <h4>New Jersey Office</h4>
                          <p>1 Walnut Court, East Orange, NJ, United State</p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 col-md-6">
              <div class="contact__widget__phone">
                  <span>Contact Us Now!</span>
                  <h2>(+12) 345-678-910</h2>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Contact End -->

<!-- Footer Section Begin -->
<footer class="footer">
  <div class="container">
      <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="footer__about">
                  <div class="footer__logo">
                      <a href="#"><img src="{{ .Site.Params.data.footer_logo }}" alt=""></a>
                  </div>
                  <p>{{ .Site.Params.data.footer_des }}</p>
              </div>
          </div>
          <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
              <div class="footer__widget">
                  <h5>Services</h5>
                  <div class="footer__widget">
                      <ul>
                          <li><a href="#">{{ .Site.Params.data.loan_service1 }}</a></li>
                          <li><a href="#">{{ .Site.Params.data.loan_service2 }}</a></li>
                          <li><a href="#">{{ .Site.Params.data.loan_service3 }}</a></li>
                          <li><a href="#">{{ .Site.Params.data.loan_service4 }}</a></li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-6">
              <div class="footer__widget">
                  <h5>Menus</h5>
                  <div class="footer__widget footer__widget--social">
                      <ul>
												{{ range .Site.Menus.footer }}
                          <li><a href="{{ .URL }}">{{ .Name }}</a></li>                          
												{{ end }}	
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
              <div class="footer__widget footer__widget--address">
                  <h5>{{ .Site.Params.data.open_hours }}</h5>
                  <p>{{ .Site.Params.data.open_hours_des }}</p>
                  <ul>
                      <li>{{ .Site.Params.data.time1 }}</li>
                      <li>{{ .Site.Params.data.time2 }}</li>
                      <li>{{ .Site.Params.data.time3 }}</li>
                  </ul>
              </div>
          </div>
      </div>
      <div class="footer__copyright">
          <div class="row">
              <div class="col-lg-6 col-md-6">
                  <ul class="footer__copyright__links">
                      <li><a href="#">Terms of use</a></li>
                      <li><a href="#">Privacy Policy</a></li>
                      <li><a href="#">Community</a></li>
                  </ul>
              </div>
              <div class="col-lg-6 col-md-6">
                  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                  <div class="footer__copyright__text">
                      <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
                  </div>
                  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              </div>
          </div>
      </div>
  </div>
</footer>
<!-- Footer Section End -->

<!-- Search Begin -->
<div class="search-model">
  <div class="h-100 d-flex align-items-center justify-content-center">
      <div class="search-close-switch">+</div>
      <form class="search-model-form">
          <input type="text" id="search-input" placeholder="Search here.....">
      </form>
  </div>
</div>
<!-- Search End -->


{{- if .Site.IsServer -}} {{ "<!-- layouts: _default/home.html-->" | safeHTML }} {{- end -}}
